[user]
  email = v1nh1shungry@outlook.com
  name = Yuanjing Hong

[init]
  defaultBranch = main

[core]
  pager = delta
  editor = nvim

[interactive]
  diffFilter = delta --color-only

[add.interactive]
  useBuiltin = false

[delta]
  navigate = true
  light = false
  line-numbers = true

[merge]
  conflictstyle = diff3
  tool = diffview

[mergetool]
  prompt = false
  keepBackup = false

[mergetool "diffview"]
  cmd = nvim -n -c "DiffviewOpen" "$MERGE"

[diff]
  colorMoved = default

[pull]
  rebase = true
