[user]
  email = v1nh1shungry@outlook.com
  name = Yuanjing Hong

[init]
  defaultBranch = main

[core]
  pager = delta -s
  editor = nvim

[interactive]
  diffFilter = delta --color-only

[add.interactive]
  useBuiltin = false

[delta]
  navigate = true
  light = false
  line-numbers = true
  syntax-theme = OneHalfDark
  # tokyonight
  minus-style                   = syntax "#3f2d3d"
  minus-non-emph-style          = syntax "#3f2d3d"
  minus-emph-style              = syntax "#763842"
  minus-empty-line-marker-style = syntax "#3f2d3d"
  line-numbers-minus-style      = "#b2555b"
  plus-style                    = syntax "#283b4d"
  plus-non-emph-style           = syntax "#283b4d"
  plus-emph-style               = syntax "#316172"
  plus-empty-line-marker-style  = syntax "#283b4d"
  line-numbers-plus-style       = "#266d6a"
  line-numbers-zero-style       = "#3b4261"

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[http]
  sslverify = false

[pull]
  rebase = true
