let mapleader = ' '
let g:argtextobj_pairs = '[:],(:),<:>'

set number
set relativenumber
set showmode
set visualbell
set scrolloff=5
set hls
set clipboard=unnamedplus

Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'
Plug 'terryma/vim-multiple-cursors'
Plug 'tpope/vim-commentary'
Plug 'vim-scripts/argtextobj.vim'
Plug 'tommcdo/vim-exchange'
Plug 'machakann/vim-highlightedyank'
Plug 'vim-scripts/ReplaceWithRegister'
Plug 'chrisbra/matchit'
Plug 'michaeljsmith/vim-indent-object'

nmap <Leader>rn <Action>(RenameElement)
nmap = <Action>(ReformatCode)
nmap ]b <Action>(NextTab)
nmap [b <Action>(PreviousTab)
nnoremap <C-q> :bd<CR>
nnoremap <Leader>e :NERDTreeToggle<CR>