let mapleader = ' '
let g:argtextobj_pairs = '[:],(:),<:>'

set number
set relativenumber
set incsearch
set showmode
set visualbell
set scrolloff=5
set ideajoin

Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'
Plug 'terryma/vim-multiple-cursors'
Plug 'tpope/vim-commentary'
Plug 'vim-scripts/argtextobj.vim'
Plug 'tommcdo/vim-exchange'
Plug 'machakann/vim-highlightedyank'
Plug 'vim-scripts/ReplaceWithRegister'
Plug 'chrisbra/matchit'
Plug 'michaeljsmith/vim-indent-object'

map <Leader>rn <Action>(RenameElement)
map = <Action>(ReformatCode)
nnoremap <C-q> :bd<CR>
nnoremap <Leader>e :NERDTreeToggle<CR>
